<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC
		   "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="graderange_mapper">
	<insert id="saveGradeRange" parameterType="GradeRangeDTO">
		INSERT INTO LQ_GRADE_RANGE (
		grade_id,
		grade_name,
		min_level,
		max_level,
		icon_url
		) VALUES (
		SEQ_LQ_GRADE_RANGE_PK.nextval,
		#{gradeName},
		#{minLevel},
		#{maxLevel},
		#{iconUrl} )
	</insert>
</mapper>
