<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC
		   "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="badge_mapper">
	<insert id="saveBadge" parameterType="BadgeDTO">
		INSERT INTO LQ_BADGE (
		badge_id,
		name,
		description,
		condition_text,
		icon_url,
		created_at
		) VALUES (
		SEQ_LQ_BADGE_PK.nextval,
		#{name},
		#{description},
		#{conditionText},
		#{iconUrl},
		sysdate )
	</insert>
</mapper>
