<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC
		   "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="questlocation_mapper">
	<insert id="saveQuestLocation" parameterType="QuestLocationDTO">
		<selectKey keyProperty="questLocationId" resultType="int" order="BEFORE">
			SELECT SEQ_LQ_QUEST_LOCATION_PK.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO LQ_QUEST_LOCATION (
		quest_location_id,
		quest_id,
		location_id,
		visit_order,
		created_at
		) VALUES (
		#{questLocationId},
		#{questId},
		#{locationId},
		#{visitOrder},
		sysdate )
	</insert>

	<delete id="deleteQuestLocationsByQuestId" parameterType="int">
		DELETE FROM LQ_QUEST_LOCATION
		WHERE QUEST_ID = #{_parameter}
	</delete>
</mapper>
